<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>WhereToEat?</title>
  </head>
  <body>
    <header>
      <a href="#content" target="_blank">Skip to Main Content</a>
      <nav>
        <div class="logo">
          <h1>WhereToEat?</h1>
        </div>
        <button id="menu-icon" class="menu-icon">
          <i class="ph-fill ph-list"></i>
        </button>
        <ul id="menu-list" class="hidden">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Favorite</a>
          </li>
          <li>
            <a href="https://www.instagram.com/arsawjy" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_1.jpg');">
      <div class="heroinner">
        <h1 class="herotitle">WhereToEat?</h1>
        <p class="herosub">
          We compile the best restaurant <br />
          just for you.
        </p>
      </div>
    </div>

    <main id="content">
    </main>

    <footer>
      <p>Made By Arsa<br>
      With HTML, CSS, and Vanilla JS.</p>
    </footer>

    <!-- <h1>Restaurant Apps Starter Project</h1>
    <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
    <p>
      Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros
      sebagai background hero elemen.
    </p> -->
  </body>
</html>
